# Chemin Windows du nouveau projet au format Docker
TRADECORP_PROJECT_PATH=//c/Users/votre_utilisateur/Downloads/jalon2_tradecorp_modulaire

# Connexion Azure Storage
AZURE_STORAGE_ACCOUNT_NAME=nom_du_compte
AZURE_STORAGE_ACCOUNT_KEY=cle_du_compte

# Emplacements ADLS
AZURE_RAW_CONTAINER=raw
AZURE_RAW_REFERENCE_PATH=reference
AZURE_CLEAN_CONTAINER=clean

# Fichiers et répertoires du pipeline
LOCAL_TMP_DIR=/home/jovyan/data/tmp
STAGING_PARQUET_PATH=/home/jovyan/data/staging/orders_enriched
COUNTRY_CURRENCY_FILENAME=country_currency.csv
CLEAN_OUTPUT_PATH=orders_enriched.parquet