AZURE_STORAGE_ACCOUNT_NAME=nom_du_compte
AZURE_STORAGE_ACCOUNT_KEY=cle_du_compte

AZURE_RAW_CONTAINER=raw
AZURE_RAW_REFERENCE_PATH=reference
AZURE_CLEAN_CONTAINER=clean

LOCAL_TMP_DIR=/home/jovyan/data/tmp
CLEAN_OUTPUT_PATH=orders_enriched.parquet